<div class="d-flex justify-content-center">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul class="flashes col-md-4 col-md-offset-4 centred">
                {% for category, message in messages %}
                    {% if category == 'error'  %}
                        {% set cat = 'danger' %}
                    {% elif category == 'success'  %}
                        {% set cat = 'success' %}
                    {% else  %}
                        {% set cat = 'primary' %}
                    {% endif %}
                    <div class="alert alert-{{cat}}" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
</div>