<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Janus</title>
        <link href="{{url_for('static', filename='css/styles.css') }}" rel="stylesheet" />
        <script src="{{url_for('static', filename='js/font_awesome_5.15.3_min.js') }}" crossorigin="anonymous"></script>
    </head>